# Custom
**/IgnoreFolder/**
**/IgnoreFolder.meta
Find Your Friends/**
Find Your Friends.meta
Common Assets/TMP Assets/**
Common Assets/TMP Assets.meta
SoccerBox/**
SoccerBox.meta
Common Assets/CC0 Assets/Materials/**
Common Assets/CC0 Assets/Materials.meta
Common Assets/Inverted Cube.fbx
Common Assets/Inverted Cube.fbx.meta
